<h1>Package Form</h1>

<div class="box">
    
 <a class="button" href="#popup1">Click Here </a>
</div>

<div id="popup1" class="overlay">
 <div class="popup">
 <h3>Manoranjan Premium</h3>
 <a class="close" href="#">×</a>
 
 <div class="container">
   <a href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
     <div class="Plan1">
      
    <h4>Plan1</h4>
    <ul>
        <li>For 3 Months</li>
        <li>Non Refundable</li>
    </ul>
    </div>
    </a>
 </div>
 <div class="container">
        <a href="#" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
     <div class="plan2">
          
    <h4>Plan2</h4>
    <ul>
          
        <li>For 6 Months</li>
        <li>Non Refundable</li>
    </ul>
 </div>
 </a>
 </div>
        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Show More
        </button> -->
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <h2 style="text-align: center">Premium For 3 Months</h2>
            <div>
                <ul>
                    <li>
                        <b>Latest American Shows:</b>
                        <br>
                     "Uncut,ad-free &nminutes after after America."
                    </li>
                    <li>Latest episodes of Indian Tv shows</li>
                    <li>
                         <b>Hollywood BlockBusters:</b>
                      "Uncut & ad-free."
                     </li> 
                     <li>New Indian Movie Premieres</li>
                     
                 </ul>
                        
            </div>
            <div class="btn btn-primary btn-sm" routerLink="/">Get This Plan</div>
      </div>
 </div>

<div class="collapse1" id="collapseExample1">
    <div class="card card-body">
        <h2 style="text-align: center">Premium For 6 Months</h2>
        <div>
            <ul>
                <li>
                    <b>Latest American Shows:</b>
                    <br>
                 "Uncut,ad-free &nminutes after after America."
                </li>
                <li>Latest episodes of Indian Tv shows</li>
                <li>
                     <b>Hollywood BlockBusters:</b>
                  "Uncut & ad-free."
                 </li> 
                 <li>New Indian Movie Premieres</li>
                 
             </ul>
                    
        </div>
        <div class="btn btn-primary btn-sm" routerLink="/">Get This Plan</div>
  </div>
</div>

</div>


